body{background-color:white; color:black;}
.header{margin-left:10%;margin-right:10%;margin-top:50px}
.section{margin-left:10%;margin-right:10%;}
.footer{margin-left:10%;margin-right:10%;} 
.table{width:100%;}

div{font-size:20px;}
h1{text-align:left;color:#050099;}
h4{font-size:25px;text-align:left;color:#050099;}

#menubar{background: #030066;}
#menubar ul{margin-left:8%;padding:0;height:60px;width:567px;}
#menubar ul li{display:inline-block;list-style-type: none;padding: 17px 30px;}
#menubar ul li a{color:white; text-decoration:none;font-size:20px;}
#menuber ul li a : hover {color:black;}
